*
{
    padding: 0;
    margin: 0;
}

.background
{
    background: url(../image/fon_new.jpg) no-repeat;
    width: 100%;
    min-height: 969px;
    background-size: cover;
}

.level-data
{
    display: flex;
    flex-direction: column;
    padding: 14% 0 0 20px;
    gap: 36px;
    opacity: 0.7;
}

.level-data__btn
{
    width: 40%;
    font: 400 normal 14px/30px 'Press Start 2P';
    border-radius: 10px;
    /* box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.432); */
}

.workspace{
    display: flex;
    /* padding-left: 15%; */
    padding-top: 10%;
}

.name
{
    display: flex;
    background-color: rgb(170, 103, 59);
    opacity: 0.7;
    padding: 4px;
    border-radius: 5px;
    width: 76%;
    box-shadow: 5px 5px 10px rgba(255, 102, 0, 0.288), -5px -5px 10px rgba(255, 102, 0, 0.288), 5px -5px 10px rgba(255, 102, 0, 0.288), -5px 5px 10px rgba(255, 102, 0, 0.288);
}

.name__title
{
    font: 400 normal 24px/24px 'Press Start 2P';
}

.name__input
{
    width: 150px;
    height: 20px;
}

.sizes
{
    display: flex;
    background-color: rgb(170, 103, 59);
    opacity: 0.7;
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
    width: 66.75%;
    box-shadow: 5px 5px 10px rgba(255, 102, 0, 0.288), -5px -5px 10px rgba(255, 102, 0, 0.288), 5px -5px 10px rgba(255, 102, 0, 0.288), -5px 5px 10px rgba(255, 102, 0, 0.288);
}

.sizes__title
{
    font: 400 normal 24px/24px 'Press Start 2P';
}

.sizes__side
{
    width: 60px;
    height: 20px;
    font: 400 normal 13px/25px 'Press Start 2P';
}

.page
{
    display: grid;
    grid-template-columns: 48% 52%;
    grid-template-rows: 25% 40% 35%;
    max-height: 969px;
    margin-left: 10%;
    margin-right: 10%;
}

.field
{
    display: grid;
    width: 800px;
}

.field__cell
{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.menu
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12%;
    visibility: hidden;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    margin: 14% 44% 0 3%;
    padding: 2%;
    background-color: rgb(56, 102, 100);
    opacity: 0.5;
    border-radius: 5%;
    box-shadow: 10px 10px 20px rgba(0, 255, 213, 0.288), -10px -10px 20px rgba(0, 255, 213, 0.288), 10px -10px 20px rgba(0, 255, 213, 0.288), -10px 10px 20px rgba(0, 255, 213, 0.288);
}

.choice
{
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
    gap: 30px;
    opacity: 0.7;
}

.menu a
{
    font: 400 normal 18px/18px 'Press Start 2P';
    color: rgb(255, 255, 255);
}

.menu a:hover
{
    color: rgb(33, 230, 16);
}

.is_active
{
    text-decoration: underline;
}

.message
{
    font: 400 normal 16px/25px 'Press Start 2P';
    visibility: hidden;
}

.success
{
    color: lawngreen;
    visibility: visible;
}

.error
{
    color: red;
    visibility: visible;
}

.save
{
    margin-top: 8%;
    background-color: rgb(4, 119, 71);
}

.delet
{
    background-color: rgb(177, 67, 67);
}

.name__input
{
    font: 400 normal 13px/25px 'Press Start 2P';
}