*
{
    padding: 0;
    margin: 0;
}

.level-data
{
    display: flex;
    flex-direction: column;
    padding: 2% 0 2% 5%;
    gap: 30px;
}

.level-data__btn
{
    width: 10%;
    font: 400 normal 12px/30px 'Press Start 2P';
}

.name
{
    display: flex;
}

.name__title
{
    font: 400 normal 24px/24px 'Press Start 2P';
}

.sizes__title
{
    margin: 1% 0;
    font: 400 normal 16px/24px 'Press Start 2P';
}

.field
{
    display: grid;
    width: 50%;
}

.field__cell
{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.menu
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5%;
    visibility: hidden;
    flex-direction: column;
}

.menu a
{
    text-decoration: none;
    font: 400 normal 15px/20px 'Press Start 2P';
    padding: 5px 10px;
}

.menu a:hover
{
    background-color: gray;
}

.is_active
{
    background-color: dimgray;
}

.message
{
    font: 400 normal 16px/25px 'Press Start 2P';
    visibility: hidden;
}

.success
{
    color: lawngreen;
    visibility: visible;
}

.error
{
    color: red;
    visibility: visible;
}