* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.arr {
    display: grid;
    grid-template-columns: repeat(8, 120px);
    grid-template-rows: repeat(8, 120px);
    background-color: black;
}

.arr__cell {
    height: 100%;
    width: 100%;
}

.background {
    background: url(../image/main_str_fon.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
    position: absolute;
}

#menu {
    position: absolute;
    top: 40%;
    left: 38%;
    color: aliceblue;
    font: 400 normal 100px/100px 'Press Start 2P';
}

.exit
{
    position: absolute;
    height: 62px;
    width: 62px;
    background-image: url(../image/exit.png);
    bottom: 2%;
    left: 1%;
    margin: 10px;
    border-radius: 50%;
    z-index: 6;
}

.exit:hover
{
    background-image: url(../image/exit_hover.png);
}

.exit:active
{
    background-image: url(../image/exit_activ.png);
    height: 52px;
    width: 52px;
    bottom: 2.5%;
    left: 1.2%;
}

#level_data{
    color: aliceblue;
}