*
{
    padding: 0;
    margin: 0;
    overflow: hidden;
    cursor: url(../image/cursor2.png), default;
}

.left
{
    padding-top: 5%;
}

.background
{
    /* background: url(../image/fon_new.jpg) no-repeat;
    width: 100%;
    min-height: 969px;
    background-size: cover; */
    width: 100%;
    height: 100%;
    position: absolute;
}

.level-data
{
    display: flex;
    flex-direction: column;
    padding: 6% 0 0 20px;
    gap: 36px;
    opacity: 0.7;
}

.choice button{
    width: 20%;
}

.level-data button:active {
    width: 45%;
    font: 400 normal 13px/30px 'Press Start 2P';
    border-radius: 10px;
    margin-left: 2.5%;
}

.level-data button:hover {
    background-color: azure;
}

.choice button:active {
    width: 18%;
    font: 400 normal 13px/30px 'Press Start 2P';
    border-radius: 10px;
    margin-left: 0.5%;
}

.choice .save:active {
    margin-right: 1.5%;
}

.choice .save:hover {
    background-color: rgb(15, 161, 100);
}

.choice .delet:hover {
    background-color: rgb(202, 83, 83);;
}

.level-data__btn
{
    width: 50%;
    font: 400 normal 14px/30px 'Press Start 2P';
    border-radius: 10px;
    /* box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.432); */
}

.workspace{
    display: flex;
    /* padding-left: 15%; */
    padding-top: 10%;
    max-width: 800px;
    max-height: 800px;
}

.name
{
    display: flex;
    background-color: rgb(170, 103, 59);
    opacity: 0.7;
    padding: 4px;
    border-radius: 5px;
    width: 72%;
    box-shadow: 5px 5px 10px rgba(255, 102, 0, 0.288), -5px -5px 10px rgba(255, 102, 0, 0.288), 5px -5px 10px rgba(255, 102, 0, 0.288), -5px 5px 10px rgba(255, 102, 0, 0.288);
}

.name__title
{
    font: 400 normal 24px/24px 'Press Start 2P';
}

.name__input
{
    width: 150px;
    height: 20px;
}

.sizes
{
    display: flex;
    background-color: rgb(170, 103, 59);
    opacity: 0.7;
    padding: 4px 4px 4px 4px;
    border-radius: 5px;
    width: 63%;
    box-shadow: 5px 5px 10px rgba(255, 102, 0, 0.288), -5px -5px 10px rgba(255, 102, 0, 0.288), 5px -5px 10px rgba(255, 102, 0, 0.288), -5px 5px 10px rgba(255, 102, 0, 0.288);
}

.sizes__title
{
    font: 400 normal 24px/24px 'Press Start 2P';
}

.sizes__side
{
    width: 60px;
    height: 20px;
    font: 400 normal 13px/25px 'Press Start 2P';
}

.page
{
    display: grid;
    grid-template-columns: 48% 52%;
    /* grid-template-rows: 25% 35% 30%; */
    max-height: 969px;
    margin-left: 8%;
    margin-right: 8%;
}

.field
{
    display: grid;
    width: 800px;
}

.field__cell
{
    width: 100%;
    height: 100%;
    z-index: 1;
}

.menu
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    visibility: hidden;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: center; 
    margin: 10% 44% 0 3%;
    padding: 2%;
    background-color: rgb(56, 102, 100);
    opacity: 0.5;
    border-radius: 5%;
    box-shadow: 10px 10px 20px rgba(0, 255, 213, 0.288), -10px -10px 20px rgba(0, 255, 213, 0.288), 10px -10px 20px rgba(0, 255, 213, 0.288), -10px 10px 20px rgba(0, 255, 213, 0.288);
}

.alert
{
    display: flex;
    flex-direction: column;
    padding: 20px 0 0 20px;
    gap: 20px;
    opacity: 0.7;
}

.choice
{
    flex-direction: row;
    gap: 30px;
}

.menu a
{
    font: 400 normal 18px/18px 'Press Start 2P';
    color: rgb(255, 255, 255);
}

.menu a:hover
{
    color: rgb(33, 230, 16);
}

.is_active
{
    text-decoration: underline;
}

.message
{
    font: 400 normal 16px/25px 'Press Start 2P';
    visibility: hidden;
}

.success
{
    color: lawngreen;
    visibility: visible;
}

.error
{
    color: red;
    visibility: visible;
}

.save
{
    margin-top: 8%;
    background-color: rgb(4, 119, 71);
}

.delet
{
    margin-top: 8%;
    background-color: rgb(177, 67, 67);
}

.name__input
{
    font: 400 normal 13px/25px 'Press Start 2P';
}

.exit
{
    height: 102px;
    width: 102px;
    /* background-color: aqua; */
    background: url(../image/exit_mini.png) no-repeat;
    background-size: cover;
    position: fixed;
    bottom: 4.65%;
    left: 1%;
    margin: 10px;
    border-radius: 50%;
}

.exit:hover
{
    background: url(../image/exit_hover.png) no-repeat;
    background-size: cover;
}

.exit:active
{
    background: url(../image/exit_activ.png) no-repeat;
    background-size: cover;
    height: 92px;
    width: 92px;
    bottom: 5%;
    left: 1.2%;
}