*
{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.arr
{
    display: grid;
    grid-template-columns: repeat(8, 120px);
    grid-template-rows: repeat(8, 120px);
    background-color: black;
}

.arr__cell
{
    height: 100%;
    width: 100%;
}

.background
{
    background: url(../image/main_str_fon.jpg) no-repeat;
    width: 100%;
    min-height: 969px;
    background-size: cover;
}