*
{
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: url(../image/cursor2.png), default;
}

#container
{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../image/main_str_fon.jpg) no-repeat;
    background-size: cover;
}

.block
{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
    box-shadow: 10px 10px 20px rgba(255, 81, 0, 0.411), 
    -10px -10px 20px rgba(255, 81, 0, 0.411), 
    10px -10px 20px rgba(255, 81, 0, 0.411), 
    -10px 10px 20px rgba(255, 81, 0, 0.411);
    background-color: #d6772a;
    border-radius: 20px;
}

.block__btns
{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.block__btns button
{
    width: 50%;
}

.block__btn_left
{
    border-top-left-radius: 20px;
}

.block__btn_right
{
    border-top-right-radius: 20px;
}

.login, .register
{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hide
{
    visibility: hidden;
    position: absolute;
}

.block button
{
    font: 400 normal 14px/34px 'Press Start 2P';
    background-color: rgb(218, 182, 166);
}

.block .input
{
    background-color: rgb(255, 242, 244);
    font: 400 normal 14px/26px 'Press Start 2P';
    width: 95%;
    background-color: rgb(218, 182, 166);
}

.block .title
{
    font: 400 normal 130%/34px 'Press Start 2P';
}

.login div,.register div
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login button, .register button
{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}