*
{
    padding: 0;
    margin: 0;
    cursor: url(../image/cursor2.png), default;
}

.background
{
    background: url(../image/main_str_fon.jpg) no-repeat;
    width: 100%;
    min-height: 969px;
    background-size: cover;
}

.title{
    font: 400 normal 102px/30px 'Press Start 2P';
    color: rgb(255, 81, 0);
    display: flex;
    padding: 9% 14%;
    text-shadow: 15px 5px 10px rgba(0, 0, 0, 0.664); 
}

.modes
{
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin-left: 23%;
    margin-top: 1%;
}

.modes button:hover {
    box-shadow: 15px 15px 25px rgba(255, 81, 0, 0.411), -15px -15px 25px rgba(255, 81, 0, 0.411), 15px -15px 25px rgba(255, 81, 0, 0.411), -15px 15px 25px rgba(255, 81, 0, 0.411);
    color: rgba(255, 81, 0, 0.89);
    /* background-color: rgb(185, 124, 96);
    color: rgb(160, 81, 45);; */
}

.modes button:active {
    color: rgb(160, 66, 23);
    box-shadow: none;
    width: 60%;
    font: 400 normal 50px/30px 'Press Start 2P';
    margin-left: 2.5%;
    background-color: rgba(179, 117, 89, 0.753);
}

.modes__btn
{
    text-align: center;
    width: 65%;
    font: 400 normal 55px/30px 'Press Start 2P';
    padding: 2% 0;
    color: rgb(160, 66, 23);
    background-color: rgb(179, 118, 89);
    border-radius: 20px;
    text-decoration: none;
}