*
{
    padding: 0;
    margin: 0;
}

.arr
{
    display: grid;
    grid-template-columns: repeat(8, 120px);
    grid-template-rows: repeat(8, 120px);
    background-color: black;
}

.arr__cell
{
    height: 100%;
    width: 100%;
}