*
{
    padding: 0;
    margin: 0;
}

.background
{
    background: url(../image/main_str_fon.jpg) no-repeat;
    width: 100%;
    background-size: cover;
}

.title{
    font: 400 normal 90px/30px 'Press Start 2P';
    color: rgb(230, 79, 9);
    display: flex;
}